@model List<Mobit.Data.Context.Slider>
@{
    ViewBag.Title = "Slider";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Slider</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>


                </div>
            </div>
            <a class="btn btn-primary" href="/Admin/Slider/Create">Yeni Slider Oluştur</a>
            <div class="ibox-content">

                <table id="example" class="table table-striped table-bordered table-hover dataTables-example" style="width:100%;">
                    <thead>
                        <tr>

                            <th></th>
                            <th width="30">Sıra</th>
                            <th width="30">Resim</th>
                            <th>Başlık</th>
                            <th>Kategori</th>
                            <th>Durum</th>
                            <th>Güncelle</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr class="gradeX" id="@item.Id">
                                <td>@item.SliderKategori.SliderId</td>
                                <td>@item.Sira</td>
                                <td><a href="~/Upload/slide/@item.Resim" target="_blank"><img src="~/Upload/slide/@item.Resim" class="img-responsive" width="50" alt="@item.Baslik" /></a></td>
                                <td><a href="@item.Url" target="@item.Target"> @item.Baslik </a></td>
                                <td>@item.SliderKategori.SliderAdi</td>
                                @if (item.Aktif == true)
                                {
                                    <td>Aktif</td>
                                }
                                else
                                {
                                    <td><b>Pasif</b></td>
                                }

                                <td><a href="/Admin/Slider/Edit/@item.Id">Güncelle</a></td>

                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/admin/Content/plugins/dataTables/dataTablesStyles")

}

@section Scripts {
    @Scripts.Render("~/admin/plugins/dataTables")
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var table = $('.dataTables-example').DataTable({

                "order": [[0, "asc"]],
                "scrollX": true,
                "lengthMenu": [[50, 75, 100, -1], [50, 75, 100, "All"]],
                dom: '<"html5buttons"B>lTfgitp',
                responsive: true,

                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Liste' },
                    { extend: 'pdf', title: 'Liste' },


                    {

                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });

            table.rowReordering({ sURL: "/Admin/Slider/RowChange" });
        });


    </script>

}

