﻿@model Mobit.Models.KurumDetayModel
@using Mobit.Helpers
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.bilgi = "";
}

@section baslikAlan{

    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>@Model.Kurumlar.Kategoriler.KategoriAdi</li>
                <li>@Model.Kurumlar.KurumAdi</li>
            </ul>
        </div>
    </div>
}

<div role="main" class="main shop" style="padding-left:2px;padding-right:25px;margin-left:7px;">
    <div class="container">
        <div class="row" style="padding-left:2px;padding-right:25px;">
            <div class="col-md-12 img-thumbnail" style="padding:7px;margin-top:-10px;margin-left:7px;margin-right:20px;">
                <div class="col-md-2">
                    <img class="img-responsive img-thumbnail" src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@Model.Kurumlar.Resim" style="height:150px;" alt="@Model.Kurumlar.KurumAdi">
                </div>
                <div class="col-md-10">
                    <br />
                    <span style="font-size:60px;vertical-align:bottom;text-align: center;" class="heading-primary">@Model.Kurumlar.KurumAdi</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="tabs tabs-tertiary tabs-center nav-tabs-justified">
                                    <ul class="nav nav-tabs">
                                        @if (Model.Kurumlar.KurumResim.Where(r => r.ResimTipi == 1).Count() >= 1)
                                        {
                                            <li class="active" ><a href="#slayt" data-toggle="tab">Slayt</a></li>
                                        }

                                        @if (Model.Kurumlar.KurumResim.Where(r => r.ResimTipi == 4).Count() >= 1)
                                        {
                                            <li ><a href="#aktiviteler" data-toggle="tab">Aktiviteler</a></li>
                                        }

                                        <li><a href="#aciklama" data-toggle="tab">Açıklamalar</a></li>
                                        @if (Model.Kurumlar.Video != null && Model.Kurumlar.Video.Length > 20)
                                        {
                                            <li ><a href="#video" data-toggle="tab">Video</a></li>

                                        }
                                        @if (Model.Kurumlar.Video != null && Model.Kurumlar.Harita.Length > 20)
                                        {
                                            <li ><a href="#harita" data-toggle="tab">Harita</a></li>

                                        }
                                        @if (Model.Kurumlar.KurumResim.Where(r => r.ResimTipi == 2).Count() >= 1)
                                        {
                                            <li ><a href="#3d" data-toggle="tab">3D Boyut</a></li>

                                        }
                                        @if (Model.Kurumlar.Panoroma != null && Model.Kurumlar.Panoroma.Length > 10)
                                        {
                                            <li ><a href="#panoroma" data-toggle="tab">Panoroma</a></li>
                                        }
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="slayt">
                                            <div class="thumb-gallery">

                                                <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail">
                                                    @if (Model.Kurumlar.KurumResim.Count() > 0)
                                                    {
                                                        foreach (var resim in Model.Kurumlar.KurumResim.Where(r => r.ResimTipi == 1))
                                                        {
                                                            <div class="image-gallery-item">
                                                                <span class="thumb-info thumb-info-lighten">
                                                                    <span class="thumb-info-wrapper">
                                                                        <img src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim.Resim" class="img-responsive" alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" style="width:100%;height:400px;">
                                                                        <span class="thumb-info-title">
                                                                            <span class="thumb-info-inner">@resim.Aciklama</span>
                                                                            <span class="thumb-info-type">@resim.Kurumlar.KurumAdi</span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                                <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs">

                                                    @if (Model.Kurumlar.Resim.Count() > 0)
                                                    {
                                                        foreach (var resim in Model.Kurumlar.KurumResim.Where(r => r.ResimTipi == 1))
                                                        {
                                                            <div class="image-gallery-item">
                                                                <span class="thumb-info thumb-info-lighten">
                                                                    <span class="thumb-info-wrapper">
                                                                        <img src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim.Resim" class="img-responsive" alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" style="height:150px;">
                                                                        <span class="thumb-info-title">
                                                                            <span class="thumb-info-inner" style="font-size:15px;">@resim.Aciklama</span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="aktiviteler">
                                            <div class="thumb-gallery">
                                                <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail3">
                                                    @if (Model.Kurumlar.KurumResim.Count() > 0)
                                                    {
                                                        foreach (var resim in Model.Kurumlar.KurumResim.Where(r => r.ResimTipi == 4))
                                                        {
                                                            <div class="image-gallery-item">
                                                                <span class="thumb-info thumb-info-lighten">
                                                                    <span class="thumb-info-wrapper">
                                                                        <img src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim.Resim" class="img-responsive" alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" style="width:100%;height:400px;">
                                                                        <span class="thumb-info-title">
                                                                            <span class="thumb-info-inner">@resim.Aciklama</span>
                                                                            <span class="thumb-info-type">@resim.Kurumlar.KurumAdi</span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        }
                                                    }
                                                </div>

                                                <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs3">
                                                    @if (Model.Kurumlar.Resim.Count() > 0)
                                                    {
                                                        foreach (var resim in Model.Kurumlar.KurumResim.Where(r => r.ResimTipi == 4))
                                                        {
                                                            <div class="image-gallery-item">
                                                                <span class="thumb-info thumb-info-lighten">
                                                                    <span class="thumb-info-wrapper">
                                                                        <img src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim.Resim" class="img-responsive" alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" style="height:150px;">
                                                                        <span class="thumb-info-title">
                                                                            <span class="thumb-info-inner" style="font-size:15px;">@resim.Aciklama</span>
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="aciklama">
                                            <p>
                                                @Html.Raw(Model.Kurumlar.Aciklama)
                                            </p>
                                        </div>
                                        <div class="tab-pane" id="video">
                                            <p>
                                                @Html.Raw(Model.Kurumlar.Video)
                                            </p>
                                        </div>
                                        <div class="tab-pane" id="harita">
                                            <p>
                                                @Html.Raw(Model.Kurumlar.Harita)
                                            </p>
                                        </div>
                                        <div class="tab-pane" id="3d">
                                            @if (Model.Kurumlar.KurumResim.Count() > 0)
                                            {
                                                foreach (var resim3 in Model.Kurumlar.KurumResim.Where(r => r.ResimTipi == 2))
                                                {
                                                    <div class="portfolio-list sort-destination lightbox" data-sort-id="portfolio" data-plugin-options='{"delegate": "a.lightbox-portfolio","autoplay":true, "type": "image", "gallery": {"enabled": true}}'>
                                                        <span class="thumb-info thumb-info-lighten thumb-info-bottom-info thumb-info-centered-icons" style="border:none;">

                                                            <span class="img-thumbnail thumb-info-wrapper">

                                                                <img alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim3.Resim" class="img-responsive">
                                                                <span class="thumb-info-action">

                                                                    <a title="@Model.Kurumlar.KurumAdi" href="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim3.Resim" class="lightbox-portfolio">
                                                                        <span class="thumb-info-action-icon thumb-info-action-icon-light"><i class="fa fa-search-plus"></i></span>
                                                                    </a>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </div>

                                                }
                                            }
                                        </div>
                                        <div class="tab-pane" id="panoroma">
                                            <p>
                                                @Html.Raw(Model.Kurumlar.Panoroma)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="owl-carousel owl-theme" data-plugin-options='{"items": 1, "margin": 10}'>
                                <div>
                                    <div class="thumbnail">
                                        <img alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" style="max-height:345px;" class="img-responsive img-rounded" src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@Model.Kurumlar.Resim">
                                    </div>

                                </div>
                                @if (Model.Resim != null)
                                {
                                    foreach (var resim in Model.Resim)
                                    {
                                        <div>
                                            <div class="thumbnail">
                                                <img alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" style="max-height:345px;" class="img-responsive img-rounded" src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim.Resim">
                                            </div>
                                        </div>
                                    }
                                }
                            </div>*@

                    </div>

                    <div class="col-md-2">
                        <aside class="sidebar">
                            <br />
                            <h4 class="heading-primary">Mesaj Gönderin</h4>
                            @Html.Partial("/Views/_Partial/_kurumMesajGonder.cshtml", Model.Kurumlar)
                        </aside>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7">
                    <div class="tabs tabs-bottom tabs-center tabs-simple">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#egitimciler" data-toggle="tab">EĞİTİMCİLER</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="egitimciler">
                                <div class="thumb-gallery">

                                    <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail2">

                                        @if (Model.Kurumlar.KurumEgitimciler.Where(r => r.Tip == 1).Count() > 0)
                                        {
                                            foreach (var resim in Model.Kurumlar.KurumEgitimciler.Where(r => r.Tip == 1))
                                            {
                                                <div class="image-gallery-item">
                                                    <span class="thumb-info thumb-info-lighten">
                                                        <span class="thumb-info-wrapper">
                                                            <img src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim.Resim" class="img-responsive" alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" style="width:100%;height:500px;">
                                                            <span class="thumb-info-title">
                                                                <span class="thumb-info-inner">@resim.Aciklama</span>
                                                                <span class="thumb-info-type">@resim.Kurumlar.KurumAdi</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            }
                                        }
                                    </div>

                                    <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs2">
                                        @if (Model.Kurumlar.KurumEgitimciler.Where(r => r.Tip == 1).Count() > 0)
                                        {
                                            foreach (var resim in Model.Kurumlar.KurumEgitimciler.Where(r => r.Tip== 1))
                                            {
                                                <div class="image-gallery-item">
                                                    <span class="thumb-info thumb-info-lighten">
                                                        <span class="thumb-info-wrapper">
                                                            <img src="~/Upload/kurum/@Model.Kurumlar.UploadYolu/@resim.Resim" class="img-responsive" alt="@Model.Kurumlar.KurumAdi" title="@Model.Kurumlar.KurumAdi" style="height:175px;">
                                                            <span class="thumb-info-title">
                                                                <span class="thumb-info-inner" style="font-size:12px;">@resim.Aciklama</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="tabs tabs-bottom tabs-center tabs-simple">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Kurumadi" data-toggle="tab" style="font-size:16px;">@Model.Kurumlar.KurumAdi</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Kurumadi">
                                <dl>
                                    @if (Model.Kurumlar.Adres != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">ADRESİ :</span></dt>
                                            <dd>@Model.Kurumlar.Adres</dd>
                                    }
                                    @if (Model.Kurumlar.ilceler.ilceAdi != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">İLÇE :</span></dt>
                                            <dd>@Model.Kurumlar.ilceler.ilceAdi</dd>
                                    }
                                    @if (Model.Kurumlar.Tel != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">TELEFON NO :</span></dt>
                                            <dd>@Model.Kurumlar.Tel</dd>
                                    }
                                    @if (Model.Kurumlar.Subeler != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">ŞUBELER :</span></dt>
                                            <dd>@Model.Kurumlar.Subeler</dd>
                                    }
                                    @if (Model.Kurumlar.KurulusTarih != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">AÇILIŞ YILI :</span></dt>
                                            <dd>@Model.Kurumlar.KurulusTarih</dd>
                                    }
                                    @if (Model.Kurumlar.Kurucusu != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">KURUCUSU \ YÖNETİCİSİ :</span></dt>
                                            <dd>@Model.Kurumlar.Kurucusu</dd>
                                    }
                                    @if (Model.Kurumlar.KurumMuduru != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">MÜDÜR :</span></dt>
                                            <dd>@Model.Kurumlar.KurumMuduru</dd>
                                    }
                                    @if (Model.Kurumlar.KurumMuduru != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">MÜDÜR YARDIMCILARI :</span></dt>
                                            <dd>@Model.Kurumlar.KurumMuduru</dd>
                                    }
                                    @if (Model.Kurumlar.Egitimciler != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">EĞİTİMCİLER :</span></dt>
                                            <dd>@Model.Kurumlar.Egitimciler</dd>
                                    }
                                    @if (Model.Kurumlar.Aktiviteler != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">AKTİVİTELER :</span></dt>
                                            <dd>@Model.Kurumlar.Aktiviteler</dd>
                                    }
                                    @if (Model.Kurumlar.Fax != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">FAKS :</span></dt>
                                            <dd>@Model.Kurumlar.Fax</dd>
                                    }
                                    @if (Model.Kurumlar.Email != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">E-MAİL :</span></dt>
                                            <dd>@Model.Kurumlar.Email</dd>
                                    }
                                    @if (Model.Kurumlar.WebSitesi != null)
                                    {
                                        <dt><span style="color:red;font-weight:bold;">WEB ADRESİ :</span></dt>
                                            <dd><a href="@Model.Kurumlar.WebSitesi" target="_blank">@Model.Kurumlar.WebSitesi</a></dd>
                                    }
                                </dl>
                            </div>
                        </div>
                    </div>


                </div>

                
            </div>

        </div>

        <div class="col-md-11" style="padding:5px;">
            <ul class="image-gallery sort-destination full-width">
                @foreach (var item in ViewData["detayReklam"] as List<Mobit.Data.Context.Slider>)
                {
                    <li class="isotope-item">
                        <div class="image-gallery-item" style="padding:5px;">
                            <a href="@item.Url" target="@item.Target">
                                <span class="thumb-info thumb-info-centered-info">
                                    <span class="thumb-info-wrapper">
                                        <img src="~/Upload/slide/@item.Resim" class="img-responsive img-thumbnail" alt="">
                                    </span>
                                </span>
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>




        
    </div>

</div>
