@model Mobit.Models.BodyModel

@* alt slider alanı *@
<div class="row" style="padding:5px;">
    <div class="col-md-7" style="padding:5px;">

        <div class="owl-carousel owl-theme show-nav-hover mt-none owl-loaded owl-drag owl-carousel-init" data-plugin-options="{&quot;items&quot;: 1, &quot;margin&quot;: 20, &quot;loop&quot;: true, &quot;nav&quot;: true, &quot;animateOut&quot;: &quot;fadeOut&quot;}">

            @foreach (var item in Model.Slider.Where(sld => sld.SliderId == 2))
            {
                <div>
                    <a href="@item.Url" target="@item.Target">
                        <img alt="@item.Baslik" title="@item.Baslik" class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim">
                    </a>
                </div>
            }
        </div>
    </div>
    @* sağ reklam alanı *@
    <div class="col-md-5">

        <div class="row"  style="padding:1px;">
            @foreach (var item in Model.Slider.Where(s => s.SliderId == 12).Take(1).OrderByDescending(s => s.Id))
            {
                <div class="col-md-12" style="padding:5px;">
                    <a href="@item.Url" target="@item.Target">
                        <img class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim" width="100%" alt="@item.Baslik">
                    </a>
                </div>
            }
        </div>
            <div class="row"  style="padding:1px;">
                @foreach (var item in Model.Slider.Where(s => s.SliderId == 7).Take(2).OrderBy(s => s.Sira))
            {
                    <div class="col-md-6" style="padding:5px;" >
                        <a href="@item.Url" target="@item.Target">
                            <img class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim" width="100%" alt="@item.Baslik">
                        </a>
                    </div>

                }
            </div>

    </div>
</div>



@*A5 slider altı reklam *@
<div class="row">
    @foreach (var item in Model.Slider.Where(s => s.SliderId == 8).Take(1).OrderByDescending(s => s.Id))
    {
        <div class="col-md-12" style="padding:5px;">
            <a href="@item.Url" target="@item.Target">
                <img class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim" width="100%"  alt="@item.Baslik">
            </a>
        </div>
    }
</div>
@* A6 A-B reklam alanı *@
<div class="row">
    @foreach (var item in Model.Slider.Where(s => s.SliderId == 9).Take(2).OrderBy(s => s.Sira))
    {
        <div class="col-md-6" style="padding:5px;">
            <a href="@item.Url" target="@item.Target">
                <img class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim" width="100%" alt="@item.Baslik">
            </a>
        </div>
    }
</div>
<div class="row">
    @foreach (var item in Model.Slider.Where(s => s.SliderId == 10).Take(3).OrderBy(s => s.Sira))
    {
        <div class="col-md-4" style="padding:5px;">
            <a href="@item.Url" target="@item.Target">
                <img class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim" width="100%" alt="@item.Baslik">
            </a>
        </div>
    }
</div>