@using Mobit.Data.Model
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h4 style="text-align:center;vertical-align:middle;" >İLETİŞİM BİLGİLERİ</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <span style="font-size:12px;color:#ffffff;"><a href="mailto:basinbulteni@okul34.com">basinbulteni@okul34.com</a><span style="font-size:10px;color:beige;"> (HABER YAYIN TALEPLERİNİZ İÇİN)</span></span>
                </div>
                <div class="col-md-12">
                    <span style="font-size:12px;color:#ffffff;"><a href="mailto:reklam@okul34.com">reklam@okul34.com</a><span style="font-size:10px;color:beige;"> (WEB TANITIM VE REKLAM TALEPLERİNİZ İÇİN)</span></span>
                </div>
                <div class="col-md-12">
                    <span style="font-size:12px;color:#ffffff;"><a href="mailto:editor@okul34.com">editor@okul34.com</a><span style="font-size:10px;color:beige;"> (TÜM YAZI VE ROPÖRTAJ TALEPLERİNİZ İÇİN)</span></span>
                </div>
                <div class="col-md-12">
                    <span style="font-size:12px;color:#ffffff;"><a href="mailto:sikayet@okul34.com">sikayet@okul34.com</a><span style="font-size:10px;color:beige;"> (ŞİKAYET VE DİLEKLERİNİZ İÇİN)</span></span>
                </div>
            </div>
       </div>

       <div class="col-md-5">
            <h4 style="text-align:center;vertical-align:middle;" >SOSYAL MEDYA</h4>
            <hr />
                   <ul class="social-icons" style="text-align:center;vertical-align:middle;">
                       <li><a href="@ViewBag.Facebook" target="_blank" title="Facebook" style="background: #3b5a9a;"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="@ViewBag.Twitter" target="_blank" title="Twitter" style="background: #1aa9e1;"><i class="fa fa-twitter"></i></a></li>
                       <li><a href="@ViewBag.Linkedin" target="_blank" title="Linkedin" style="background: #0073b2;"><i class="fa fa-linkedin"></i></a></li>
                       <li><a href="@ViewBag.GooglePlus" target="_blank" title="GooglePlus" style="background: #dd4b39;"><i class="fa fa-google-plus"></i></a></li>
                       <li><a href="@ViewBag.Diger" target="_blank" title="Instagram" style="background: #7c4a3a;"><i class="fa fa-instagram"></i></a></li>
                   </ul> 
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6" style="font-size:30px;font-weight:bold;color:#ffffff;text-align:center;vertical-align:middle;">
                <span >(0507) 910 41 40</span>
            </div>
            <div class="col-md-6" style="font-size:30px;font-weight:bold;color:#ffffff;text-align:center;vertical-align:middle;">
                <span >(0850) 532 65 85</span>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 center">
                <a href="http://www.powertechsoft.com/" target="_blank">
                    <p style="font-size:12px;color:#ffffff;">By Dizayn & Developer : Power Tech Soft</p>
                </a>
                <br />Sitemiz Rapit SSL Sertifikalıdır.
            </div>
            <div class="col-md-4 center">
                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><span class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">HABERLER</span></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>     
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopup.cshtml", ViewData["HaberlerPopup"])
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><span class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">BİYOGRAFİLER</span></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>                
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupRoportajlar.cshtml", ViewData["HaberlerPopup"])
            </div>
        </div>
    </div>
</div>

@*SPONSOR 1*@
<div class="modal fade" id="Sponsor1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><span class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">SPONSOR 1</span></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>     
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupSponsor1.cshtml", ViewData["HaberlerPopup"])
            </div>
        </div>
    </div>
</div>

@*SPONSOR 2*@
<div class="modal fade" id="Sponsor2" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><span class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">SPONSOR 2</span></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>     
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupSponsor2.cshtml", ViewData["HaberlerPopup"])
            </div>
        </div>
    </div>
</div>


@*SPONSOR 3*@
<div class="modal fade" id="Sponsor3" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><span class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">SPONSOR 3</span></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>     
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupSponsor3.cshtml", ViewData["HaberlerPopup"])
            </div>
        </div>
    </div>
</div>


@*SPONSOR 4*@
<div class="modal fade" id="Sponsor4" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><span class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">SPONSOR 4</span></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>     
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupSponsor4.cshtml", ViewData["HaberlerPopup"])
            </div>
        </div>
    </div>
</div>


@*SPONSOR 5*@
<div class="modal fade" id="Sponsor5" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><span class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">SPONSOR 5</span></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>     
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupSponsor5.cshtml", ViewData["HaberlerPopup"])
            </div>
        </div>
    </div>
</div>


@*SPONSOR 6*@
<div class="modal fade" id="Sponsor6" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">SPONSOR 6</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>     
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupSponsor6.cshtml", ViewData["HaberlerPopup"])
            </div>
        </div>
    </div>
</div>

@*Ayın En İyi Anaokulu*@
<div class="modal fade" id="HaberPopupEniyiAnaokulu" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">Ayın En İyi Anaokulu</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupEniyiAnaokulu.cshtml", ViewData["HaberPopupEniyiAnaokulu"])
            </div>
        </div>
    </div>
</div>

@*HaberPopupEniyiKoleji*@
<div class="modal fade" id="HaberPopupEniyiKoleji" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">Ayın En İyi Koleji</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupEniyiKoleji.cshtml", ViewData["HaberPopupEniyiKoleji"])
            </div>
        </div>
    </div>
</div>

@*HaberPopupEniyiUniversitesi*@
<div class="modal fade" id="HaberPopupEniyiUniversitesi" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">Ayın En İyi Üniversitesi</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupEniyiUniversitesi.cshtml", ViewData["HaberPopupEniyiUniversitesi"])
            </div>
        </div>
    </div>
</div>

@*HaberPopupEniyiKursu*@
<div class="modal fade" id="HaberPopupEniyiKursu" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">Ayın En İyi Kursu</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupEniyiKursu.cshtml", ViewData["HaberPopupEniyiKursu"])
            </div>
        </div>
    </div>
</div>
@*HaberPopupEniyiTedarikcisi*@
<div class="modal fade" id="HaberPopupEniyiTedarikcisi" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">Ayın En İyi Tedarikçisi</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupEniyiTedarikcisi.cshtml", ViewData["HaberPopupEniyiTedarikcisi"])
            </div>
        </div>
    </div>
</div>
@*HaberPopupEniyiOkulServisi*@
<div class="modal fade" id="HaberPopupEniyiOkulServisi" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">Ayın En İyi Okul Servisi</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_HaberPopupEniyiOkulServisi.cshtml", ViewData["HaberPopupEniyiOkulServisi"])
            </div>
        </div>
    </div>
</div>


@*En İyi Okullar*@
<div class="modal fade" id="PopupEniyiOkullar" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">En İyi Okullar</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_PopupEniyiOkullar.cshtml", ViewData["PopupEniyiOkullar"])
            </div>
        </div>
    </div>
</div>

@*En İyi Yöneticiler*@
<div class="modal fade" id="PopupEniyiYoneticiler" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">En İyi Yöneticiler</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_PopupEniyiYoneticiler.cshtml", ViewData["PopupEniyiYoneticiler"])
            </div>
        </div>
    </div>
</div>


@*En İyi Eğitmenler*@
<div class="modal fade" id="PopupEniyiEgitmenler" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" style="width:1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11"><h3 class="modal-title" id="largeModalLabel" style="font-size:18px;font-weight:bold;color:#000000;">En İyi Eğitmenler</h3></div>
                <div class="col-md-1"><button type="button" class="btn btn-default" data-dismiss="modal">KAPAT</button></div>
            </div>
            <div class="modal-body">
                @Html.Partial("/Views/_Partial/_PopupEniyiEgitmenler.cshtml", ViewData["PopupEniyiEgitmenler"])
            </div>
        </div>
    </div>
</div>