<div class="thumb-gallery">
    @{
        Mobit.Data.Context.Entities db = new Mobit.Data.Context.Entities();
        <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav-hover" id="thumbGalleryDetail3">

            @foreach (var item in db.Haberler.Where(h => h.Aktif == true && h.KategoriId == 3).OrderByDescending(u => u.Id).ToList())
            {
                <a href="/haber/@item.Slug" >
                    <div class="image-gallery-item">
                        <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                                <img src="~/Upload/haber/@item.Resim" class="img-responsive" alt="@item.Slug" title="@item.Ad" style="width:100%;height:300px;">
                                <span class="thumb-info-title">
                                    <span class="thumb-info-inner">@item.Ad</span>
                                    <span class="thumb-info-type">@item.HaberKategorileri.Ad</span>
                                </span>
                            </span>
                        </span>
                    </div>
                </a>
            }

        </div>
        <div class="owl-carousel owl-theme manual thumb-gallery-thumbs mt" id="thumbGalleryThumbs3">
            @foreach (var item in db.Haberler.Where(h => h.Aktif == true && h.KategoriId == 3).OrderByDescending(u => u.Id).ToList())
            {
                <div class="image-gallery-item">
                    <span class="thumb-info thumb-info-lighten">
                        <span class="thumb-info-wrapper">
                            <img src="~/Upload/haber/@item.Resim" class="img-responsive" alt="@item.Slug" title="@item.Ad" style="height:100px;width:100px;font-size:12px;">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner" style="font-size:12px;">@item.Ad</span>
                                <span class="thumb-info-type">@item.HaberKategorileri.Ad</span>
                            </span>
                        </span>
                    </span>
                </div>
            }
        </div>
    }

</div>
