﻿
@model PagedList.IPagedList<Mobit.Data.Context.Kurumlar>

<div role="main" class="main shop">

    <div class="container">


        <div class="row">
            <div class="col-md-11">

                <div class="row">
                    <div class="col-md-12">
                        @*<h2 class="mb-none"><strong>@ViewBag.bilgi</strong></h2>*@
                        <p>@ViewBag.kurumsayi</p>
                    </div>
                </div>


                <div class="row" id="dvMusteriListesi">

                    <ul class="products product-thumb-info-list" data-plugin-masonry data-plugin-options='{"layoutMode": "fitRows"}'>
                        @foreach (var kurum in Model)
                        {

                            <li class="col-md-4 col-sm-6 col-xs-12 product">
                                @*<a href="shop-product-sidebar.html">
                                        <span class="onsale">Sale!</span>
                                    </a>*@
                                <span class="product-thumb-info">
                                    @*<a href="shop-cart.html" class="add-to-cart-product">
                                            <span><i class="fa fa-shopping-cart"></i> Sepete Ekle</span>
                                        </a>*@
                                    <span class="product-thumb-info-content" style="text-align:center;background-color: #4C9ED9;color: white;height:50px;">
                                        <span style="text-align:center;background-color: #4C9ED9;color: white;font-size:20px;font-weight:bold;">@kurum.KurumAdi</span>
                                    </span>
                                    <a href="/@kurum.Kategoriler.Slug/@kurum.Slug/@kurum.KurumId" title="@kurum.KurumAdi">
                                        <span class="thumb-info thumb-info-lighten">
                                            <span class="thumb-info-wrapper" style="margin-top:5px;margin-bottom:0px;">
                                                <img alt="@kurum.KurumAdi" title="@kurum.KurumAdi" style="width:100%;height:280px;" class="img-responsive" src="~/Upload/kurum/@kurum.UploadYolu/@kurum.Resim">
                                            </span>
                                        </span>
                                    </a>
                                    <span class="product-thumb-info-content" style="text-align:center;background-color: #4C9ED9;color: white;height:50px;">
                                        <a href="/@kurum.Kategoriler.Slug/@kurum.Slug">
                                            @*<h4 class="heading-primary">@kurum.KurumAdi</h4>*@
                                            <span class="price">
                                                <ins class="pull-left"><span style="text-align:center;background-color: #4C9ED9;color: white;font-size:large;font-weight:bold;">@(kurum.ilceId == null ? "" : kurum.ilceler.ilceAdi)</span></ins>
                                                <ins class="pull-right"><span style="text-align:center;background-color: #4C9ED9;color: white;font-size:large;font-weight:bold;">@kurum.Tel</span></ins>
                                            </span>
                                        </a>
                                    </span>
                                </span>
                            </li>
                        }
                    </ul>

                </div>



            </div>
        </div>
    </div>
</div>


@section styles{
    <link rel="canonical" href="~/Content/PagedList.css" rel="stylesheet" />
}