﻿@model List<Mobit.Data.Context.Slider>


<div style="margin-top:-20px">


    <div class="col-md-4 sliderSearch" style="margin-top:5px;width:300px">
        @{var aramaModel = new Mobit.Models.GelismisAramaModel(); }
        @Html.Partial("/Views/_Partial/_GelismisArama.cshtml", aramaModel)
    </div>

    <div class="slider-container rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 5000, "gridwidth": 850, "gridheight": 560}'>
            <ul>
                @foreach (var item in Model)
                {
                    <li data-transition="fade">
                        @*<a href="@item.Url" target="@item.Target">*@
                        <img src="~/Upload/slide/@item.Resim"
                             alt="@item.Baslik"
                             title="@item.Baslik"
                             data-bgposition="center center"
                             data-bgfit="cover"
                             data-bgrepeat="no-repeat"
                             class="rev-slidebg" style="width:100%; height:100%">
                        @*</a>*@
                        @if (item.Baslik.Trim() != null)
                        {
                            <div class="tp-caption main-label"  
                                 data-x="top" data-hoffset="0"
                                 data-y="top" data-voffset="30"
                                 data-start="1500"
                                 data-whitespace="word-wrap"
                                 data-transform_in="y:[100%];s:500;"
                                 data-transform_out="opacity:0;s:500;"
                                 style="z-index: 5;color:white;margin-left:10px;font-size:21px;"
                                 data-mask_in="x:0px;y:0px;"><img src="~/Upload/images/okul34logosu.fw.png"></div>

                            string[] fullName = item.Baslik.Trim().Split(';');
                            int sayi = 80;
                            for (int i = 0; i < fullName.Length; i++)
                            {
                                sayi = sayi + 50;
                                     <div class="tp-caption main-label"
                                     data-x="top" data-hoffset="0"
                                     data-y="top" data-voffset=@sayi
                                     data-start="2000"
                                     data-whitespace="word-wrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     style="z-index: 5;color:white;margin-left:10px;font-size:45px;text-align:center;"
                                     data-mask_in="x:0px;y:0px;">@fullName[i]</div>
                            } 
                        }

                        

                        

                        </li>
                }

                    
            </ul>
            
        </div>

        
    </div>
        
     

</div>




<div class="row">
    <div style="z-index: 5;color:white;margin-left:150px;margin-top:-180px;font-size:45px;text-align:center;">
        <div class="col-md-12">
            <div class="col-md-2">
                <a href="/Sponsor1">
                    <div class="circular-bar">
                        <div class="circular-bar-chart" data-percent="100" data-plugin-options='{ "barColor": "#2BAAB1", "delay": 0 }'>
                            <strong style="font-size:70px;color:white;margin-left:10px">S1</strong>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/Sponsor2">
                    <div class="circular-bar">
                        <div class="circular-bar-chart" data-percent="100" data-plugin-options='{ "barColor": "#2BAAB1", "delay": 0 }'>
                            <strong style="font-size:70px;color:white;margin-left:10px;">S2</strong>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/Sponsor3">
                    <div class="circular-bar">
                        <div class="circular-bar-chart" data-percent="100" data-plugin-options='{ "barColor": "#2BAAB1", "delay": 0 }'>
                            <strong style="font-size:70px;color:white;margin-left:10px;">S3</strong>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/Sponsor4">
                    <div class="circular-bar">
                        <div class="circular-bar-chart" data-percent="100" data-plugin-options='{ "barColor": "#2BAAB1", "delay": 0 }'>
                            <strong style="font-size:70px;color:white;margin-left:10px;">S4</strong>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-2">
                <a href="/Sponsor5">
                    <div class="circular-bar">
                        <div class="circular-bar-chart" data-percent="100" data-plugin-options='{ "barColor": "#2BAAB1", "delay": 0 }'>
                            <strong style="font-size:70px;color:white;margin-left:10px;">S5</strong>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    @{Html.RenderAction("Body1", "Home"); }
    @{Html.RenderAction("Body2", "Home"); }


</div>
