

@model PagedList.IPagedList<Mobit.Data.Context.Urunler>
<div role="main" class="main shop">

    <div class="container">


        <div class="row">
            <div class="col-md-9">

                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mb-none"><strong>@ViewBag.bilgi</strong></h2>
                        <p>@ViewBag.urunsayi</p>
                    </div>
                </div>


                <div class="row" id="dvMusteriListesi">

                    <ul class="products product-thumb-info-list" data-plugin-masonry data-plugin-options='{"layoutMode": "fitRows"}'>
                        @foreach (var urun in Model)
                        {

                            <li class="col-md-4 col-sm-6 col-xs-12 product">
                                @*<a href="shop-product-sidebar.html">
                                        <span class="onsale">Sale!</span>
                                    </a>*@
                                <span class="product-thumb-info">
                                    @*<a href="shop-cart.html" class="add-to-cart-product">
                                            <span><i class="fa fa-shopping-cart"></i> Sepete Ekle</span>
                                        </a>*@
                                    <a href="/@urun.Kategoriler.Slug/@urun.Slug" title="@urun.UrunAdi">
                                        <span class="product-thumb-info-image">
                                            <span class="product-thumb-info-act">
                                                <span class="product-thumb-info-act-left"><em>Ürün Detayı</em></span>
                                                @*<span class="product-thumb-info-act-right"><em><i class="fa fa-plus"></i> Details</em></span>*@
                                            </span>
                                            <img alt="@urun.UrunAdi" title="@urun.UrunAdi" class="img-responsive" src="~/Upload/urun/@urun.UploadYolu/@urun.Resim">
                                        </span>
                                    </a>
                                    <span class="product-thumb-info-content">
                                        <a href="/@urun.Kategoriler.Slug/@urun.Slug">
                                            <h4 class="heading-primary">@urun.UrunAdi</h4>
                                            @*<span class="price">
                                                <del><span class="amount">$325</span></del>
                                                <ins><span class="amount">$299</span></ins>
                                            </span>*@
                                        </a>
                                    </span>
                                </span>
                            </li>
                        }
                    </ul>

                </div>



            </div>
        </div>
    </div>
</div>


@section styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}