@model Mobit.Models.BodyModel

@* alt haberler *@
<div class="row" style="padding-top:7px;margin-left:20px;margin-right:20px;">
    @Html.Partial("/Views/_Partial/_HaberArama.cshtml") 
    @{
        foreach (var item in Model.Haberler)
        {
            <div class="col-md-4" style="padding:7px;">
                <div class="heading heading-primary heading-border heading-bottom-border">
                    <h1 class="heading-primary">@item.Ad</h1>
                </div>
                <aside class="sidebar">
                    <ul class="simple-post-list">
                        @foreach (var haberler in item.Haberler.OrderByDescending(h => h.Id).Take(16))
                        {
                            <li>
                                <div class="post-image">
                                    <a href="/Haber/@haberler.Slug">
                                        <div class="img-thumbnail">
                                            <span class="thumb-info thumb-info-lighten">
                                                <span class="thumb-info-wrapper">

                                                    <img src="~/Upload/haber/@haberler.Resim" style="width:100px;height:100px;">

                                                </span>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                                <div class="post-info">
                                    <a href="/Haber/@haberler.Slug">@haberler.Ad</a>
                                    <div class="post-meta">
                                        @haberler.Tarih.ToShortDateString()
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </aside>
            </div>
        }

    }
    <div class="col-md-4" style="padding:7px;">
        <aside class="sidebar">
            <div class="heading heading-primary heading-border heading-bottom-border">
                <h1 class="heading-primary">En İyi Okullar</h1>
            </div>
            <div class="owl-carousel owl-theme show-nav-hover">
                @{
                    Int32 l = 0;
                    Mobit.Data.Context.Entities db = new Mobit.Data.Context.Entities();
                    foreach (var item in db.sp_Eniyikurumlar())
                    {
                        l = l + 1;
                            
                            <div title="@item.KurumAdi">

                                <span class="thumb-info thumb-info-lighten">
                                    <span class="thumb-info-wrapper">
                                        <img src="~/Upload/kurum/@item.UploadYolu/@item.Resim" class="img-responsive" alt="@item.KurumAdi" title="@item.KurumAdi" style="height:125px;">
                                        <span class="thumb-info-title">
                                            <span class="thumb-info-inner" style="font-size:12px;">Puan(@item.sayi)</span>
                                        </span>
                                    </span>
                                </span>
                            </div>
                    }

                }
                
            </div>


            <div class="heading heading-primary heading-border heading-bottom-border" style="padding-top:-50px">
                <h1 class="heading-primary">En İyi Yöneticiler</h1>
            </div>
            <div class="owl-carousel owl-theme show-nav-hover" >
                @{
                    foreach (var item in db.sp_EniyiYoneticiler1())
                    {
                        
                        <div title="@item.EnSevdiginizYoneticiAdiSoyadi (@item.KurumAdi)">
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="~/Upload/kurum/@item.UploadYolu/@item.EnSevdiginizYoneticiAdiSoyadiResim" class="img-responsive" alt="@item.EnSevdiginizYoneticiAdiSoyadi (@item.KurumAdi)" title="@item.EnSevdiginizYoneticiAdiSoyadi (@item.KurumAdi)" style="height:125px;">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner" style="font-size:12px;">Puan(@item.sayi)</span>
                                    </span>
                                </span>
                            </span>
                            <div style="font-size:10px;">@item.EnSevdiginizYoneticiAdiSoyadi</div>
                        </div>
                        
                    }

                }
            </div>

            <div class="heading heading-primary heading-border heading-bottom-border" style="padding-top:-50px">
                <h1 class="heading-primary">En İyi Eğitmenler</h1>
            </div>
            <div class="owl-carousel owl-theme show-nav-hover" >
                @{
                    Int32 k = 0;
                    foreach (var item in db.sp_EniyiEgitimciler2())
                    {
                        k = k + 1;
                        <div title="@item.EnSevdiginizEgitimciAdiSoyadi (@item.KurumAdi)">
                            <span class="thumb-info thumb-info-lighten">
                                <span class="thumb-info-wrapper">
                                    <img src="~/Upload/kurum/@item.UploadYolu/@item.EnSevdiginizEgitimciAdiSoyadiResim" class="img-responsive" alt="@item.EnSevdiginizEgitimciAdiSoyadi (@item.KurumAdi)" title="@item.EnSevdiginizEgitimciAdiSoyadi (@item.KurumAdi)" style="height:125px;">
                                    <span class="thumb-info-title">
                                        <span class="thumb-info-inner" style="font-size:12px;">Puan(@item.sayi)</span>
                                    </span>
                                </span>
                            </span>
                            <div style="font-size:10px;">@item.EnSevdiginizEgitimciAdiSoyadi</div>
                        </div>
                    }

                }
            </div>

        </aside>
        <br />
        <div class="row">
            @foreach (var item in Model.Slider.Where(s => s.SliderId == 11).Take(12).OrderBy(s => s.Sira))
            {
                <div class="col-md-12" style="padding:7px;">
                    <a href="@item.Url" target="@item.Target">
                        <span class="thumb-info thumb-info-lighten">
                            <span class="thumb-info-wrapper">
                                <img class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim" style="height:125px;width:100%" alt="@item.Baslik">
                            </span>
                        </span>
                    </a>
                </div>
            }
        </div>
    </div>
    
</div>
<div class="row" style="margin-left:20px;margin-right:20px;">
    <div class="col-md-4" style="padding:7px;">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ayın En İyi Anaokulu</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="~/Upload/slide/anaokulu.png" class="img-responsive" alt="" style="height:250px;">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">En İyi Anaokulu</span>
                            <span class="thumb-info-type">İstanbul</span>
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-4" style="padding:7px;">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ayın En İyi Koleji</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="~/Upload/slide/Eniyikoleji.png" class="img-responsive" alt="" style="height:250px;">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">En İyi Kolej</span>
                            <span class="thumb-info-type">İstanbul</span>
                        </span>
                        <span class="thumb-info-action">
                            @*<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>*@
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-4" style="padding:7px;">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ayın En İyi Üniversitesi</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="~/Upload/slide/Eniyiuniversitesi.png" class="img-responsive" alt="" style="height:250px;">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">En İyi Üniversitesi</span>
                            <span class="thumb-info-type">İstanbul</span>
                        </span>
                        <span class="thumb-info-action">
                            @*<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>*@
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>

<div class="row" style="margin-left:20px;margin-right:20px;">
    <div class="col-md-4" style="padding:7px;">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ayın En İyi Kursu</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="~/Upload/slide/eniyikurs.jpg" class="img-responsive" alt="" style="height:250px;">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">En İyi Kursu</span>
                            <span class="thumb-info-type">İstanbul</span>
                        </span>
                        <span class="thumb-info-action">
                            @*<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>*@
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-4" style="padding:7px;">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ayın En İyi Tedarikçisi</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="~/Upload/slide/eniyiidareci.jpg" class="img-responsive" alt="" style="height:250px;">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">En İyi Tedarikçisi</span>
                            <span class="thumb-info-type">İstanbul</span>
                        </span>
                        <span class="thumb-info-action">
                            @*<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>*@
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
    <div class="col-md-4" style="padding:7px;">
        <div class="heading heading-primary heading-border heading-bottom-border">
            <h4 class="heading-primary">Ayın En İyi Okul Servisi</h4>
        </div>
        <div class="portfolio-item">
            <a href="portfolio-single-small-slider.html">
                <span class="thumb-info thumb-info-lighten">
                    <span class="thumb-info-wrapper">
                        <img src="~/Upload/slide/eniyiokulservisi.jpg" class="img-responsive" alt="" style="height:250px;">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">En İyi Okul Servisi</span>
                            <span class="thumb-info-type">İstanbul</span>
                        </span>
                        <span class="thumb-info-action">
                            @*<span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>*@
                        </span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>