@model Mobit.Data.Context.Haberler

@{
    ViewBag.Title = "Haber Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Haber Güncelle </h2>

<form method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal ">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.HiddenFor(model => model.Id)
            @Html.LabelFor(model => model.KategoriId, "Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("KategoriId", null, "Kategori Seçiniz", htmlAttributes: new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(model => model.KategoriId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.KategoriId, "Galeri", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DropDownList("GaleriId", null, "Galeri Seçimi", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GaleriId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Tarih, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Tarih, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Resim, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                <input type="file" name="yuklenecekDosya" />
                @*@Html.EditorFor(model => model.Ikon, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ikon, "", new { @class = "text-danger" })*@
                @if (Model.Resim != null)
                {
                    <br />
                    <img src="~/Upload/haber/@Model.Resim" width="150" height="150" class="img-responsive" />

                }
                <label class="text-danger">@TempData["bilgi"]</label>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Aktif, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.CheckBoxFor(model => model.Aktif, htmlAttributes: new { @checked = "checked" })

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Detay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Detay, new { @class = "form-control ckeditor" })
                @Html.ValidationMessageFor(model => model.Detay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
                <a href="/Admin/News/Delete/@Model.Id" onclick="return confirm('Dikkat: Bu kaydı silmek istediğinizden emin misiniz?')" class="btn btn-danger pull-right">Sil</a>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Html.ActionLink("Listeye Dön", "Index")
                <br />
                <br />
            </div>
        </div>

    </div>


</form>

