@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<Mobit.Data.Context.Haberler>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";


}

<div class="container">

    <div class="row">
        <div class="col-md-11">
            @*A1 reklam alanı*@
            <div class="row">
                @foreach (var item in ViewData["ustTekReklam"] as List<Mobit.Data.Context.Slider>)
                {
                    <div class="col-md-12" style="padding:7px;margin-top:-10px">
                        <a href="@item.Url" target="@item.Target">
                            <img class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim" width="100%" alt="@item.Baslik">
                        </a>
                    </div>
                }

            </div>

            <div class="blog-posts">

                @foreach (var haber in Model)
                {

                <article class="post post-medium">
                    <div class="row">


                        @if (haber.Resim == null)
                            {
                            <div class="col-md-12">

                                <div class="post-image">

                                    <h2><a href="/haber/@haber.Slug" title="@haber.Ad">@haber.Ad</a></h2>

                                </div>
                            </div>
                            }
                            else
                            {

                            <div class="col-md-3">
                                <div class="post-image">
                                    <div class="owl-carousel owl-theme" data-plugin-options='{"items":1}'>
                                        <div>
                                            <div class="img-thumbnail">
                                                <a href="/haber/@haber.Slug">  <img class="img-responsive" src="~/Upload/haber/@haber.Resim" title="@haber.Ad" alt="@haber.Ad" style="width:100%;height:150px;"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">

                                <div class="post-image">

                                    <h2><a href="/haber/@haber.Slug" title="@haber.Ad">@haber.Ad</a></h2>

                                </div>
                            </div>

                            }



                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="post-meta">
                                <span><i class="fa fa-calendar"></i>@haber.Tarih.ToString("d") </span>

                                <a href="/haber/@haber.Slug" class="btn btn-xs btn-primary pull-right">Devamını Oku</a>
                            </div>
                        </div>
                    </div>

                </article>

                }
                <ul class="pagination pagination-lg pull-right">

                    @Html.PagedListPager(Model, _sayfaNo => Url.Action("Haberler", "Haber", new { Sayfa = _sayfaNo }))

                </ul>

            </div>
            <hr />
            @if (ViewData["detayReklam"] != null)
            {
                @*foreach (var item in ViewData["detayReklam"] as List<Mobit.Data.Context.Slider>)
                {
                    <div class="col-md-12">
                        <a href="@item.Url" target="@item.Target">
                            <img class="img-responsive img-thumbnail" src="~/Upload/slide/@item.Resim" width="100%" alt="@item.Baslik">
                        </a>
                    </div>
                }*@

                <div class="row" style="padding:5px;">
                    <ul class="image-gallery sort-destination full-width">

                        @foreach (var item in ViewData["detayReklam"] as List<Mobit.Data.Context.Slider>)
                        {
                            <li class="isotope-item">
                                <div class="image-gallery-item" style="padding:5px;">
                                    <a href="@item.Url" target="@item.Target">
                                        <span class="thumb-info thumb-info-centered-info">
                                            <span class="thumb-info-wrapper">
                                                <img src="~/Upload/slide/@item.Resim" class="img-responsive img-thumbnail" alt="">
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>


            }
        </div>

    </div>

</div>
